.input {
    width: 100%;
    height: 40px;
    padding: 12px 40px 12px 15px;
    border-radius: 5px;
    border: solid 1px #e6eaf5;
    background-color: #fcfcff;
    outline: none;
    color: #929bbc;
    position: relative;

    &__icon {
        position: absolute;
        top: 12px;
        right: 20px;
    }
}
