.main {
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
    padding: 20px 10px;

    @media all and (min-width: 768px) {
        padding: 40px 50px;
    }
    @media all and (min-width: 1024px) {
        padding: 40px 180px;
    }
    @media all and (min-width: 1440px) {
        padding: 40px 10px;
    }
    &__no-result {
        padding-top: 50px;
        @media all and (min-width: 768px) {
            padding-top: 150px;
        }
    }
}
